<!DOCTYPE html>
<html lang="en" ng-app="peopleChoose">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choosing People</title>
    <script type= "text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>    
    <link rel="stylesheet" type= "text/css" href="style.css">
    <link rel="stylesheet" type= "text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="app.js"></script>
</head >
</head >
<body ng-controller="peopleController">
        <h1>Choose your Favorite Leader</h1>
    <div class="click-these-area">
        <h4 class="green-top">Click Here to Choose</h4>
        <div ng-repeat="leader in people">
         <div  class="highlight" ng-click="addThisOne(leader);">
         <img ng-src="{{leader.pic}}">{{leader.name}}
         <hr>
         </div>
        </div>
    </div>

    <div class="it-goes-here-area">
        <h4 class="red-top">It Goes Here {{collection.length}}</h4>
        <div ng-repeat="collect in collection">
            <img ng-src="{{collect.pic}}">{{collect.name}}
            <hr>
            
        </div>
        
    </div>
    <img id = "ghana" src="pics/backgroud.png" >
</body>
</html>